
--root {
    font-family: arial;

}
body {
    margin: 300px ;
    padding: 20px 30px;
    border-top:    1px solid  black;
    border-right:   1px solid  black;
    border-bottom:   1px solid  black;
    border-left:    1px solid  black;
}

.container {
    display:flex;
}

.leftSide {

    position: relative;
    border: solid #009999 8px;
    padding: 10px 40px;
    min-width: 30%;
    color:rgb(134, 39, 39);
}
.leftSide .normalLabel .inbox{
    display: flex;
    align-items: center;
}
.leftSide .normalLabel .inbox i {

}

.leftSide .normalLabel .today{ 
    display: flex;
    align-items: center;
}

.leftSide #favoritesButton {
    display: block;
    min-height: 3rem;
    width: 100%;
    border-radius: 1.5rem;
    background-color: transparent;
    width: 80%;
    margin: 0 auto;
}

.leftSide #favorites {
    max-height:auto;
    overflow: hidden;
}

.leftSide #favorites.open {
    height:10px;
} 
.leftSide #favorites .highestPriority {
    display: flex;
    align-items: center;
} 
.leftSide #favorites .highestPriority img{
    width: 1em;
    height: 1em;
}
.leftSide #favorites .recurringWork {
    display: flex;
    align-items: center;
}

.leftSide #favorites .recurringWork img{
    width: 1em;
    height: 1em;
}

.leftSide #favorites .calendar {
    display: flex;
    align-items: center;
}

.leftSide #favorites .calendar img {
    width: 1em;
    height: 1em;
}

.leftSide .projectsButton {
    display: flex;
    align-items: center;
}

.leftSide #personalButton {
    display: block;
    min-height: 3rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 1.4rem;
    background-color: transparent;
}

.leftSide #personalSpace {
    max-height: 10px;
    overflow: hidden;
}
.leftSide #personalSpace.open {
   max-height: 300px;
}



.leftSide #workButton {
    display: block;
    min-height: 3rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 1.4rem;
    background-color: transparent;
}
.leftSide #workSpace {
    max-height: 10px;
    overflow: hidden;
}
.leftSide #workSpace.open {
   max-height: 300px;
   white-space: nowrap;
}


.today, .projectsButton, #personalButton, .home, .family, .book, .workButton, .client {
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.rightSide{
    
    position:relative;
    border: solid #648b8b 8px;
    color:rgb(0, 0, 0);padding: 10px 40px;
    width: 70%;
}


.rightSide .add_task {
    font-size: 24px;
    border: 4px solid black;
    border-radius: 1.1em;
}
.rightSide .add_task[type="text"] {
    text-align: center;
}
.black_toggle {
    color: white;
    width: 0px;
    height: 0px;
    border: 10px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: black;
}